@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

.page {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#1f3341;
}

.header {
  background-color: #2b5876;
  height: 70px;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 400px;
  color: white;
  width: 80%;
  height: 400px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: black;
  margin: 70px;
  color: #fff;
  background-image: linear-gradient(135deg,#2b5876,#4e4376);
  padding: 42px 0 84px;
}

.questions {
  font-weight: 300;
  font-size: 20px;
  padding-top: 20px;
}

.secondary {
  background-color: #2b5876;
  width: 100%;
  height: 400px;
}

.usersubmissions {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 40px;
  margin: 40px;
  padding: 15px;
  background-color: #1f3341;
  overflow: auto;
}

.title {
  font-size: 30px;
  padding: 0 20px;

}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .5rem .5rem;
    margin: 20px;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  .button:hover {
    background-color: #374151;
  }
  
  .button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  @media (min-width: 768px) {
    .button-40 {
      padding: .75rem 1.5rem;
    }
  }

  